.appBoxes {
  border: 1px solid rgb(168, 168, 168);
  padding: 20px;
  margin: 0px auto;
  max-width: 500px;
  border-radius: 5px;
}

.container {
  padding: 25px;
}

button {
  width: 60px;
  margin-left: 5px;
  font-family: "Nunito", sans-serif;
}

#carl-button,
#my-location-button {
  width: 122px;
  color: white;
  margin: 5px;
  margin-left: 0px;
}

#searchbox {
  margin-top: 8px;
  width: 250px;
  font-family: "Nunito", sans-serif;
  border-radius: 6px;
}

input::placeholder {
  font-size: smaller;
  opacity: 0.7;
  color: grey;
}

@media (max-width: 450px) {
  #searchbox {
    width: 60%;
  }
  h1 {
    font-size: 45px;
  }
  h5 {
    font-size: 23px;
  }
}
