.appBoxes {
  border: 1px solid rgb(168, 168, 168);
  padding: 20px;
  margin: 0px auto;
  max-width: 500px;
  border-radius: 5px;
}

.container {
  padding: 25px;
}

button {
  width: 60px;
  margin-left: 5px;
  font-family: "Nunito", sans-serif;
}

#carl-button,
#my-location-button {
  width: 122px;
  color: white;
  margin: 5px;
  margin-left: 0px;
}

#searchbox {
  margin-top: 8px;
  width: 250px;
  font-family: "Nunito", sans-serif;
}

input::placeholder {
  font-size: smaller;
  opacity: 0.7;
  color: grey;
}
