.appBoxes {
  border: 1px solid rgb(168, 168, 168);
  background-color: rgb(255, 255, 255, 0.6);
  padding: 20px;
  margin: 0px auto;
  max-width: 550px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px grey;
}

.centered,
.row {
  text-align: center;
}

.tempNumber {
  font-size: 36px;
  margin: auto 0;
  text-align: center;
}

.tempUnit {
  font-size: 20px;
  margin-right: 20px;
}
.tempLinks {
  margin: auto 0;
  font-size: 14px;
}

#weatherEmoji {
  margin: auto 0;
  border-radius: 4px;
  width: 60px;
}

#weatherEmoji:hover {
  background-color: var(--background-color);
  border-radius: 8px;
}
.weatherDesc:first-letter {
  text-transform: capitalize;
}

.lastUpdated {
  opacity: 70%;
  font-size: 12px;
}

.col:hover {
  cursor: pointer;
  background-color: var(--background-color);
  transition-duration: 0.5s;
  border-radius: 10px;
}

.carlPic {
  padding: 5px;
  border-radius: 35px;
  max-height: 200px;
  max-width: 200px;
}

.carlPic:hover {
  background-color: var(--background-color);
  transition-duration: 0.3s;
  padding: 0px;
  cursor: pointer;
}
